<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Gestión de Stock</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {{#if user}}
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Altas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/articulos">Artículos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/registrarse">Vendedores</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Movimientos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ingresos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Ventas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Movimientos internos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Listados
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Artículos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Ingresos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Ventas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Movimientos internos</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="/salir" class="nav-link">Cerrar sesión</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="/ingresar" class="nav-link">Ingresar</a>
      </li>
      <li class="nav-item">
        <a href="/registrarse" class="nav-link">Registrarse</a>
      </li>
      {{/if}}
    </ul>
  </div>
  </div>
</nav>